{{#partial "content"}}

    <div class="bg-success">
        <p>Your heroes  squad was created successfully</p>
        <a href="/" class="btn-warning">Back</a>

    </div>

{{/partial}}

{{> master.hbs}}