

{{#partial "content"}}
    <h1>Heros Squad </h1>
    <h2> </h2>

    <p> Welcome to Hero Squad , Here you can register </p>


    <h3>Register your heros here</h3>

    <form action="/post-hero" method="post">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="hero's Name">

        <label for="age">Age</label>
        <input type="text" class="form-control" name="age" placeholder="hero's Age">

        <label for="name">Superpowers</label>
        <input type="text" class="form-control" name="superpowers" placeholder="hero's superpowers">

        <label for="name">Weakness</label>
        <input type="text" class="form-control" name="weakness" placeholder="hero's  weakness">

        <button type="submit" class="btn btn-primary">Register</button>

    </form>



    <h3>Set up a hero Squad</h3>

    <h4>Rules</h4>

    <ul>
        <li>A squad has a maximum of 4 superheroes</li>
        <li>A superhero can participate in only one team at  a go </li>
    </ul>

    <form action="/hero-team" method="post">
        <label for="squadName">Squad Name</label>
        <input type="text" class="form-control" name="squadName" placeholder="enter squad name">

        <label for="cause">Squad Cause</label>
        <select class="form-control" id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

        <label for="members">Squad Cause</label>
        <select class="form-control" id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

        <button type="submit" class="btn btn-primary">Create Squad</button>
    </form>

{{/partial}}



{{> master.hbs}}