{{#partial "content"}}

    <div class="jumbotron text-center">

        <h3>Welcome to heroSquad {{username}}</h3>



    </div>
    <div class="col-md-12 text-center">
        <button class="btn btn-warning btn-lg">
            <a href="/">Heroes</a>
        </button>
        <button class="btn btn-warning btn-lg">
            <a href="/">Squads</a>
        </button>
    </div>

{{/partial}}

{{> master.hbs}}