<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title" }}{{/block}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/jquery-ui-1.10.3.css" />
</head>
<body>
<!--begin main template-->
<div class="container">
    {{#block "content" }}

    {{/block }}

</div>
<!--end main template-->
{{#block "footer" }}
    </body>
    </html>
{{/block }}