{{#partial "content"}}

    <div class="bg-success jumbotron text-center">
        <h4 text-success>Your heroe was created successfully</h4>
        <button class="btn btn-warning btn-lg">
            <a href="/heroes"> Go Back</a>
        </button>



    </div>

{{/partial}}

{{> master.hbs}}