{{#partial "content"}}

    <div class="jumbotron text-center">

        <h1>heroSquad</h1>



    </div>




        <div class="jumbotron text-center">

            <h3>Welcome to heroSquad {{username}}</h3>

            <p>We are glad you are here... </p>



        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-warning btn-lg">
                <a href="/heroes">See or Create Heroes</a>
            </button>
            <button class="btn btn-warning btn-lg">
                <a href="/squads">See or Create Squads</a>
            </button>
        </div>



{{/partial}}

{{> master.hbs}}